{% extends "base.html" %}

{% block navitems %}
{% endblock %}

{% block content %}


<div class="container is-max-tablet">
    <div class="subtitle is-6">
        <strong>Change password</strong>
    </div>
    <hr />
    <div id="change-password-content">
        {% if error %}
        <p class="has-text-danger mb-5">{{ error }}</p>
        {% endif %}
        {% if success %}
        <p class="has-text-success mb-5">Your password was changed successfully.</p>
        {% else %}
        <form
            hx-post="{{ url_for('bp.change_password') }}" 
            hx-select="#change-password-content" 
            hx-target="#change-password-content"
            hx-swap="outerHTML">
            <div class="field">
                <label class="label">Old password</label>
                <div class="control">
                    <input name="old_password" autocomplete="current-password" class="input" type="password" required>
                </div>
            </div>
            <div class="field">
                <label class="label">New password</label>
                <div class="control">
                    <input name="new_password" autocomplete="new-password" class="input" type="password" required>
                </div>
            </div>
            <div class="field">
                <label class="label">New password</label>
                <div class="control">
                    <input name="new_password_confirm" autocomplete="new-password" class="input" type="password" required>
                </div>
            </div>

            <div class="field is-grouped">
                <div class="control is-flex is-flex-direction-row is-justify-content-space-between is-align-items-center" style="width:100%;">
                    <button class="button is-primary">Change password</button>
                </div>
            </div>
        </form>
        {% endif %}
    </div>
</div>
{% endblock %}
