{% extends "base.html" %}

{% block content %}
{% with active='General' %}
{% include 'settings.html' %}
{% endwith %}

<div class="block">
    <strong>Profile</strong>
    <br>
    <a
        href="{{ url_for('bp.change_password') }}"
        hx-target="#content"
        hx-select="#content"
        hx-boost="true"
        hx-swap="outerHTML"
        class="has-text-primary">
        Change password
    </a>
</div>

{% macro live_select(title, name, values, current_value, help) %}
<div class="block">
    <strong>{{ title }}</strong>
    <div class="control is-flex is-flex-direction-row is-align-items-center gap-2">
        <div class="select">
            <select 
                name="{{ name }}" 
                hx-trigger="change" 
                hx-swap="none"
                hx-post="{{ url_for('bp.general_settings') }}"
                _="
                    on htmx:beforeRequest
                        send hide to the next .success-indicator within the closest .control
                        send hide to the next .failure-indicator within the closest .control
                    end
                        
                    on htmx:afterRequest
                        if event.detail.xhr.status == 200
                            send show to the next .success-indicator within the closest .control
                        else
                            send show(status: event.detail.xhr.status) to the next .failure-indicator within the closest .control
                ">
                {% for value in values %}
                <option {% if current_value == value %}selected{% endif %}>
                    {{ value }}
                </option>
                {% endfor %}
            </select>
        </div>
        <span 
            _="on show remove .is-hidden end on hide add .is-hidden to me"
            class="icon has-text-success success-indicator is-hidden">
            <i class="fa-solid fa-check"></i>
        </span>
        <span 
            _="on show(status) remove .is-hidden set my innerHTML to status end on hide add .is-hidden to me"
            class="pl-2 has-text-danger failure-indicator is-hidden">
        </span>
    </div>
    <p class="help">
        {{ help }}
    </p>
</div>
{% endmacro %}

{{ live_select(
    'Tile Colors', 
    'tile_colors',
    types.TileColors | map(attribute='value'),
    tiles_options.colors.value,
    'How to select the colors for each tile.'
) }}
{{ live_select(
    'Tile Fill', 
    'tile_fill',
    types.TileFill | map(attribute='value'),
    tiles_options.fill.value,
    'How to apply the color to the tile.'
) }}
{{ live_select(
    'Title Location', 
    'tile_title_location',
    types.TileTitleLocation | map(attribute='value'),
    tiles_options.title_location.value,
    'Where to display the tile titles.'
) }}
{{ live_select(
    'Tile Layout', 
    'tile_layout',
    types.TileLayout | map(attribute='value'),
    tiles_options.layout.value,
    'How to lay out the tiles.'
) }}


<div class="block">
    <strong>Tile Width</strong>
    <div class="control is-flex is-flex-direction-row is-align-items-center gap-2">
            <input 
                class="input"
                style="max-width:150px;"
                type="number"
                value="{{ tiles_options.width }}"
                name="tile_width" 
                hx-trigger="input delay:0.5s" 
                hx-swap="none"
                hx-post="{{ url_for('bp.general_settings') }}"
                _="
                    on htmx:beforeRequest
                        send hide to the next .success-indicator within the closest .control
                        send hide to the next .failure-indicator within the closest .control
                    end
                        
                    on htmx:afterRequest
                        if event.detail.xhr.status == 200
                            send show to the next .success-indicator within the closest .control
                        else
                            send show(status: event.detail.xhr.status) to the next .failure-indicator within the closest .control
                ">
        <span 
            _="on show remove .is-hidden end on hide add .is-hidden to me"
            class="icon has-text-success success-indicator is-hidden">
            <i class="fa-solid fa-check"></i>
        </span>
        <span 
            _="on show(status) remove .is-hidden set my innerHTML to status end on hide add .is-hidden to me"
            class="pl-2 has-text-danger failure-indicator is-hidden">
        </span>
    </div>
    <p class="help">
        The target width for each tile.
    </p>
</div>

{{ live_select(
    'Tile Group Layout', 
    'tile_group_layout',
    types.TileGroupLayout | map(attribute='value'),
    tiles_options.group_layout.value,
    'How to lay out the groups within a tile.'
) }}




<hr/>

<div class="block">
    <strong>Export</strong>
    <p>Export tile configuration</p>
    <a class="mt-3 button is-primary"
        href="{{ url_for('bp.download_tiles_configuration') }}" download="linktiles.json">
        Download (.json)
    </a>
</div>

{% endblock %}
