{% extends "base.html" %}

{% block content %}
{% with active='General' %}
{% include 'settings.html' %}
{% endwith %}

<div class="block">
    <label class="label">Profile</label>
    <div class="control">
        <a
            href="{{ url_for('bp.change_password') }}"
            hx-target="#content"
            hx-select="#content"
            hx-boost="true"
            hx-swap="outerHTML"
            class="has-text-primary">
            Change password
        </a>
    </div>
</div>

<hr/>

{% macro live_input_indicator() %}
<span 
    _="on show remove .is-hidden end on hide add .is-hidden to me"
    class="icon has-text-success success-indicator is-hidden">
    <i class="fa-solid fa-check"></i>
</span>
<span 
    _="on show(status) remove .is-hidden set my innerHTML to status end on hide add .is-hidden to me"
    class="pl-2 has-text-danger failure-indicator is-hidden">
</span>
{% endmacro %}

{% macro live_input_hyperscript() %}
on htmx:beforeRequest
    send hide to the next .success-indicator within the closest .control
    send hide to the next .failure-indicator within the closest .control
end
    
on htmx:afterRequest
    if event.detail.xhr.status == 200
        send show to the next .success-indicator within the closest .control
    else
        send show(status: event.detail.xhr.status) to the next .failure-indicator within the closest .control
    end
end
{% endmacro %}

{% macro live_select(title, name, values, current_value, help) %}
<div class="block">
    <label class="label">{{ title }}</label>
    <div class="control is-flex is-flex-direction-row is-align-items-center gap-2 mb-1">
        <div class="select">
            <select 
                name="{{ name }}" 
                hx-trigger="change" 
                hx-swap="none"
                hx-post="{{ url_for('bp.general_settings') }}"
                _="{{ live_input_hyperscript() }}">
                {% for value in values %}
                <option {% if current_value == value %}selected{% endif %}>
                    {{ value }}
                </option>
                {% endfor %}
            </select>
        </div>
        {{ live_input_indicator() }}
    </div>
    <p>
        {{ help }}
    </p>
</div>
{% endmacro %}

{{ live_select(
    'Tile colors', 
    'tile_colors',
    types.TileColors | map(attribute='value'),
    tiles_options.colors.value,
    'How to select the colors for each tile.'
) }}
{{ live_select(
    'Tile fill', 
    'tile_fill',
    types.TileFill | map(attribute='value'),
    tiles_options.fill.value,
    'How to apply the color to the tile.'
) }}
{{ live_select(
    'Title location', 
    'tile_title_location',
    types.TileTitleLocation | map(attribute='value'),
    tiles_options.title_location.value,
    'Where to display the tile titles.'
) }}
{{ live_select(
    'Tile layout', 
    'tile_layout',
    types.TileLayout | map(attribute='value'),
    tiles_options.layout.value,
    'How to lay out the tiles.'
) }}


<div class="block">
    <label class="label">Tile width</label>
    <div class="control is-flex is-flex-direction-row is-align-items-center gap-2">
            <input 
                class="input"
                style="max-width:150px;"
                type="number"
                value="{{ tiles_options.width }}"
                name="tile_width" 
                hx-trigger="input delay:0.5s" 
                hx-swap="none"
                hx-post="{{ url_for('bp.general_settings') }}"
                _="{{ live_input_hyperscript() }}">
        {{ live_input_indicator() }}
    </div>
    <p class="help">
        The target width for each tile.
    </p>
</div>

{{ live_select(
    'Tile group layout', 
    'tile_group_layout',
    types.TileGroupLayout | map(attribute='value'),
    tiles_options.group_layout.value,
    'How to lay out the groups within a tile.'
) }}

{{ live_select(
    'Bookmark Sort', 
    'bookmark_sort_order',
    types.BookmarkSortOrder | map(attribute='value'),
    tiles_options.bookmark_sort_order.value,
    'How to order the bookmarks within a group.'
) }}


<hr/>

<div class="block">
    <div class="control is-flex is-flex-direction-row is-align-items-center gap-2 mb-2">
        <label class="checkbox">
                <input 
                    style="max-width:150px;"
                    type="checkbox"
                    {% if linkding_options.cache_enabled %}checked{% endif %}
                    name="linkding_cache_enabled" 
                    hx-trigger="change" 
                    hx-swap="none"
                    is="boolean-checkbox"
                    hx-post="{{ url_for('bp.general_settings') }}"
                    _="
                        {{ live_input_hyperscript() }}
                        
                        on change
                            if (my value)
                                remove @disabled from #linkding-options-cache-duration-input
                                remove @disabled from #linkding-options-cache-duration-unit-input
                            else
                                add @disabled to #linkding-options-cache-duration-input
                                add @disabled to #linkding-options-cache-duration-unit-input
                            end
                        end


                    ">
            <strong class="pl-1">Cache linkding responses</strong>
        </label>
        {{ live_input_indicator() }}
    </div>
    <div class="control is-flex is-flex-direction-row is-align-items-center gap-2 mb-1">
        <input
            id="linkding-options-cache-duration-input"
            {% if not linkding_options.cache_enabled %}disabled{% endif %}
            class="input"
            style="max-width:150px;"
            type="number"
            value="{{ linkding_options.cache_duration }}"
            name="linkding_cache_duration" 
            hx-trigger="input delay:0.5s" 
            hx-swap="none"
            hx-post="{{ url_for('bp.general_settings') }}"
            _="{{ live_input_hyperscript() }}">
        <div class="select">
            <select 
                {% if not linkding_options.cache_enabled %}disabled{% endif %}
                id="linkding-options-cache-duration-unit-input"
                name="linkding_cache_duration_unit" 
                hx-trigger="change" 
                hx-swap="none"
                hx-post="{{ url_for('bp.general_settings') }}"
                _="{{ live_input_hyperscript() }}">
                {% for value in types.TimeUnit %}
                <option  {% if linkding_options.cache_duration_unit == value %}selected{% endif %}>
                    {{ value.value }}
                </option>
                {% endfor %}
            </select>
        </div>
        {{ live_input_indicator() }}
    </div>
    <p>
        Cache responses from linkding, to increase responsiveness and reduce the number of API calls.
    </p>
</div>

<hr/>

<div class="block">
    <strong>Export</strong>
    <p>Export tile configuration</p>
    <a class="mt-3 button is-primary"
        href="{{ url_for('bp.download_tiles_configuration') }}" download="linktiles.json">
        Download (.json)
    </a>
</div>

{% endblock %}
