{% extends "base.html" %}

{% block content %}
<section class="hero is-small">
    <div class="hero-body">
        <div class="container is-max-tablet notification">
            <div class="section has-text-centered">
                <p class="subtitle">
                    <strong>
                        You have no tiles yet
                    </strong>
                </p>
                <p class="has-text-centered">
                    Open the settings panel to add your API key and configure your tiles.
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock %}
