{% extends "base.html" %}

{% block navitems %}
{% endblock %}

{% block content %}


<div class="container is-max-tablet">
    <div class="subtitle is-6">
        <strong>Login</strong>
    </div>
    <hr />
    {% if error %}
    <p class="has-text-danger mb-5">{{ error }}</p>
    {% endif %}
    <form hx-post="{{ url_for('bp.login') }}" hx-select="#content" hx-target="#content">
        <div class="field">
            <label class="label">Username</label>
            <div class="control">
                <input name="username" autocomplete="username" value="{{ username }}" class="input" type="text" required>
            </div>
        </div>
        <div class="field">
            <label class="label">Password</label>
            <div class="control">
                <input name="password" autocomplete="current-password" class="input" type="password" required>
            </div>
        </div>

        <div class="field is-grouped">
            <div class="control is-flex is-flex-direction-row is-justify-content-space-between is-align-items-center" style="width:100%;">
                <button class="button is-primary">Login</button>
                <a 
                    href="{{ url_for('bp.register') }}"
                    hx-target="#content"
                    hx-select="#content"
                    hx-boost="true"
                    class="">Register</a>
            </div>
        </div>
    </form>
</div>
{% endblock %}
