<div class="masonry-container" 
    _="
    on load[event.target==me]
        js(me)
            return new MiniMasonry({
                container: me,
                surroundingGutter: false
            });
        end
        set :mm to it
    end

    on htmx:beforeCleanupElement[event.target==me]
        set mm to :mm
        js(mm)
            mm.destroy()
        end
    end">

    {% for tile in tiles %}
    <div class="masonry-child">
        {% with %}
        {% set height=randint(50, 250) %}
        {% set title = tile.title %}
        {% set tags = tile.tags %}
        {% set limit = tile.limit %}
        {% set groups = tile.groups %}
        {% include "loading_tile.html" %}
        {% endwith %}
    </div>
    {% endfor %}
</div>

